main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    height: 70vh;
}

label{
    font-size: 2rem;

}
input{
    margin: 12px;
}
h2{
font-size: 2rem;
color: darkmagenta;
}
input{
    
    width: 352px;
    height:32px;
    
}
button{
    margin-top: 12px;
    padding: 10px;
}

#result{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 12px;
}

.hide{
    display: none;
}


footer{
    background-color: blueviolet;
    text-align: center;
}
footer > h4{
  
    font-size: 2rem;
    color: white;
    padding-top: 22px;
} 
footer > .icons{
    padding-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 21px;
}
footer > .icons> ul > {
    list-style: none;
}

footer > .icons >ul > li{
    list-style: none;
}
footer > .icons> ul > li> a>{
    list-style: none;
    text-decoration: none;

}
footer > .icons> ul > li> a> img{
    padding: 12px 12px 12px 12px;

   height: 40px;
}

.loading{
    font-size: 1rem;
}